<div class="footContainer">
    <div class="socials">
        <a href="https://www.youtube.com/channel/UCAmI-lmRFv8U9ODJo9f9KPA"><img src="../../assets/icons/youtube.png"></a>
        <a href="https://www.tiktok.com/@charityhubitalia"><img src="../../assets/icons/tiktok.png"></a>
        <a href="https://twitter.com/CharityHubIT"><img src="../../assets/icons/twitter.png"></a>
        <a href="https://www.instagram.com/charityhubitalia/"><img src="../../assets/icons/instagram.png"></a>
        <a href="mailto://charityhubitalia@gmail.com"><img src="../../assets/icons/email.png"></a>
    </div>
    <div class="nav">
        <a href="">Home</a>
        <a href="">Associazioni</a>
        <a href="">Iniziative</a>
        <a href="">Info</a>
    </div>
</div>
