<footer class="footContainer">
    <div class="socials">
        <a href="https://www.youtube.com/channel/UCAmI-lmRFv8U9ODJo9f9KPA"><img src="assets/icons/youtube.png"></a>
        <a href="https://www.tiktok.com/@charityhubitalia"><img src="assets/icons/tiktok.png"></a>
        <a href="https://twitter.com/CharityHubIT"><img src="assets/icons/twitter.png"></a>
        <a href="https://www.instagram.com/charityhubitalia/"><img src="assets/icons/instagram.png"></a>
        <a href="mailto://charityhubitalia@gmail.com"><img src="assets/icons/email.png"></a>
    </div>
    <nav class="nav">
        <ul class="navbar-nav ml-auto mt-lg-0 d-flex flex-row">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="associazioni">Associazioni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="iniziative">Iniziative</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="info">Info</a>
            </li>
          </ul>
    </nav>
</footer>
