<div class="container-fluid px-0">
  <div id="sopra" class="bg">

  </div>
</div>
<div class="container-fluid">
  <div class="row bg-white">
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-12 col-md-8">
      <section>
        <div class="titolo d-flex align-items-baseline">
          <h3 class="titolo-associazioni">INIZIATIVE</h3>
          <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="background-color: #0472b3;">
              Filtra per regione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div *ngFor="let regione of regioni;let i=index;">
                <a (click)="filtroIniziative(regione.nome);" class="dropdown-item"
                  >{{regione.nome}} </a>
              </div>
            </div>
          </div>

        </div>
        <div class="bg-white" *ngFor="let iniziativa of iniziative;let i=index;">
          <div class="card mb-5"
            style="background-color: #0472b3; color: white; border-radius: 20px;">
            <div class="row g-0 d-flex justify-content-center h-75">
              <div class="col-md-4 d-flex justify-content-center h-75">
                <img src="{{iniziativa.img}}" class="img-fluid px-3 pt-3 pb-3" alt="..."
                  style="border-radius: 30px;">
              </div>
              <div class="col-12">
                <div class="card-body text-center">
                  <h5 class="card-title">{{iniziativa.associazione}}</h5>
                  <p class="card-text">{{iniziativa["value"]}}</p>
                  <p class="card-text"><a href="{{iniziativa.url}}" target="_blank" class="scopri">Scopri</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-2 d-none d-md-block"></div>
  </div>
</div>
