<div class="pagina">
  <div id="sopra" class="bg">
  </div>
  <div class="container sotto d-flex justify-content-around justify-content-md-center mt-3">
    <button onclick="changeVisibility()" class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img id="filter" src="../../assets/arrowz.png" />
    </button>
    <h2 class="ini">Iniziative In Corso</h2>
    <div class="dropdown filter">
      <button class="dropdown-toggle hidden-arrow btn btn-warning dropdown-toggle rounded-pill" role="button"
        type="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <img id="drop" src="../../assets/filter.png" />
      </button>
      <ul class="dropdown-menu dropdown-menu-left w-75 overflow-scroll" aria-labelledby="navbarDropdownMenuLink">
        <div *ngFor="let associazione of associazioni">
        <li><a class="dropdown-item d-inline-block p-1 text-wrap" href="#"> {{ associazione.Title}} </a></li>
      </div>
      </ul>
    </div>
  </div>
  <div class="corso row mt-2">
    <div class="col-md-4" *ngFor="let iniziativa of iniziative">
      <div class="card mb-3" >
        <div class="cardcontainer text-center my-auto h-100 align-content-baseline" >
          <img class="img-fluid w-25 mx-auto mt-auto" src="{{iniziativa.img}}">
          <a href="{{iniziativa.url}}">
            <h2 class="titolo mb-auto">{{iniziativa.associazione}}</h2>
          </a>
          <p class="mb-auto">{{iniziativa.value}}</p>
          <button class="rounded-pill w-75"><a class="mail" href="{{iniziativa.url}}">scopri</a></button>
        </div>
      </div>
    </div>
  </div>
